<div class="bg-grey">
  <div class="container-fluid">
    <div class="row">

      <div class="col-sm-7">
        <div class="player" data-source-id="<%= @source.id %>">
          <div class="embed-responsive embed-responsive-16by9">
            <%= render "sources/providers/#{@source.provider.downcase}", source: @source %>
          </div>

          <div class="text-center">
            <div id="addbutton">
              <%= render partial: "sources/show/addbutton" %>
            </div>
          </div>


          <div class="share-area">
            <div class="row">
              <div class="col-xs-12">
                <div class="col-xs-9">
                  <h3 class="share-text-h3">
                    SOUTENEZ-NOUS EN PARTAGEANT
                  </h3>
                </div>

                <div class="col-xs-3">
                  <div class="text-center fb-like">
                    <div class="fb-like" data-href="http://vibein.herokuapp.com/sources/<%= @source.id %>/public" data-width="400" data-layout="button" data-action="like" data-show-faces="false" data-share="true">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="share-area">
            <div class="row">
              <div class="col-xs-12">
                <h4 class="text-center share-text-h4">
                  Pour profiter d'internet sans publicité, installer <a href="https://adblockplus.org/">Adblock Plus</a>.</br>
                  Et pour sauvegarder vos morceaux préférés rapidement, installer notre <%= link_to "Extension", bookmarklets_path %></a>.
                </h4>
              </div>
            </div>
          </div>

        </div>
      </div>



      <div class="col-sm-5">
        <div class="music-aside">
          <div class="row">

            <div class="presentation-actual">
              <h3 class="text-center">Vous régalez vos oreilles avec :</h3>
            </div>

            <div class="col-sm-12">
              <div class="music-actual">
                <div class="col-sm-4 col-md-3">
                  <div class="row">
                  <%= link_to source_path(@source.id) do %>
                    <%= image_tag @source.picture.url(:thumb) %>
                  <% end %>
                  </div>
                </div>

                <div class="col-sm-8 col-md-7">
                  <h3><%= link_to truncate(@source.title, length: 50, separator: ' '), friend_source_path(params[:friend_id], @source.id) %></h3>
                  <h4>
                    <%= @source.time %>
                  </h4>
                </div>
              </div>
            </div>

            <div class="separation">
              <hr>
            </div>


            <div class="music-list">
              <div id="musics_aside">
                <%= render partial: "sources/musics_aside", locals: {sources: @sources, friend: @friend_id} %>
              </div>

            </div>

          </div>
        </div>
      </div>

    </div>
  </div>
</div>