<div class="bg-grey">
  <div class="container-fluid">
    <div class="row">

      <div class="col-sm-7">
        <div class="player" data-source-id="<%= @source.id %>">
          <div class="embed-responsive embed-responsive-16by9">
            <%= render "sources/providers/#{@source.provider.downcase}", source: @source %>
          </div>

          <%= render partial: "sources/show/share_area" %>

        </div>
      </div>

      <div class="col-sm-5">
        <div class="music-aside">
          <div class="row">

            <div class="presentation-actual">
              <h3 class="text-center">Vous régalez vos oreilles avec :</h3>
            </div>

            <div class="col-sm-12">
              <div class="music-actual">
                <div class="col-sm-4 col-md-3">
                  <div class="row">
                  <%= link_to source_path(@source.id) do %>
                    <%= image_tag @source.picture.url(:thumb) %>
                  <% end %>
                  </div>
                </div>

                <div class="col-sm-8 col-md-7">
                    <h3><%= link_to truncate(@source.title, length: 50, separator: ' '), source_path(@source.id) %></h3>
                    <h4>
                      <%= @source.time %>
                    </h4>
                </div>
              </div>
            </div>

            <div class="separation">
              <hr>
            </div>


            <div class="music-list">
              <div id="musics_aside">
                <%= render partial: "sources/musics_aside", locals: {sources: @sources} %>
              </div>

            </div>

          </div>
        </div>
      </div>

    </div>
  </div>
</div>