<div class="col-xs-12 col-md-6">
  <div class="music-box">
    <div class="row">
      <div class="col-xs-4">
        <% if params[:category_id] != nil %>
          <%= link_to friend_category_source_path(params[:friend_id], params[:category_id].to_i, source.id) do %>
            <%= image_tag source.picture.url(:medium), width: "100%", class: 'music-image' %>
          <% end %>
        <% else %>
          <%= link_to friend_source_path(params[:friend_id], source.id) do %>
            <%= image_tag source.picture.url(:medium), width: "100%", class: 'music-image' %>
          <% end %>
        <% end %>

      </div>
      <div class="col-xs-8">
        <h3>
          <% if params[:category_id] != nil %>
            <%= link_to truncate(source.title, length: 50, separator: ' '), friend_category_source_path(params[:friend_id], params[:category_id].to_i, source.id), :class => 'music-title' %>
          <% else %>
            <%= link_to truncate(source.title, length: 50, separator: ' '), friend_source_path(params[:friend_id], source.id), :class => 'music-title' %>
          <% end %>
        </h3>

        <ul class="list-unstyle list-inline">
          <li>
            <h4>
              <%= source.time %>
            </h4>
          </li>

          <% music = Music.where('source_id' => source.id).where(:user_id => @friend.id).first %>

          <li>

            <div id="categories_<%= music.id%>">
              <%= render partial: "sources/categories_friend", locals: {music: music} %>
            </div>
          </li>
        </ul>

      </div>
    </div>
  </div>
</div>