require 'json'
require 'open-uri'

<%= render partial: "navbar" %>

<div class="vertical-spacer"></div>

<div class="container">
  <div class="music-table">

    <div class="row">
      <button class="btn-create-playlist" data-toggle="modal" data-target="#myModalPlaylist">
        Create a new playlist
      </button>
      <ul class="list-unstyled list-inline"><% current_user.categories.each do |category| %>
        <li>
          <%= link_to category.title, category_path(id: category.id) %>
          <%= link_to category_path(id: category.id), method: :delete do %>
        <i class="fa fa-times"></i>
      <% end %>
        </li>
        <% end %>
      </ul>
    </div>



    <% @musics.reverse.each_slice(2) do |musics| %>
      <div class="row">
        <% (0..1).each do |i| %>
          <% if musics[i] %>
            <%= render partial: "music_box", locals: {music: musics[i]} %>
          <% end %>
        <% end %>
      </div>
    <% end %>

  </div>
</div>

<div class="modal fade" id="myModalPlaylist" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h4 class="modal-title" id="myModalLabel">Create a new playlist</h4>
        </div>
        <div class="modal-body">
          <%= form_for @category do |f| %>
            <%= f.label :title %>
            <%= f.text_field :title %>

            <%= f.submit %>
          <% end %>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Create</button>
        </div>
      </div>
    </div>
</div>