<%= render partial: "navbar" %>


<div class="container-fluid">
  <div class="row">

    <div class="player">
      <div class="col-sm-7">
        <div class="embed-responsive embed-responsive-16by9">
          <%= render "sources/providers/#{@source.provider.downcase}", source: @source %>
        </div>
      </div>
    </div>


    <div class="col-sm-5">
      <div class="row">
        <div class="music-list">

          <ul class="list-unstyled"><% @sources.reverse.each do |source| %>
            <li>
              <div class="col-sm-12">
                <%= link_to source_path(source) do %>
                  <%= image_tag source.picture.url(:thumb) %>
                <% end %>

              <h3><%= link_to truncate(source.title, length: 50, separator: ' '), source_path(source) %></h3>
              <h4>
                <% time = source.duration.to_i %>
                <%= time.divmod(60)[0] %>:<%= time.divmod(60)[1] %>
              </h4>

            </li>
              <% end %>
            </ul>

        </div>
      </div>
    </div>

  </div>
</div>
