<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <%= link_to 'VIBE IN', welcome_index_path, :class => "navbar-brand" %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><%= link_to 'Home', welcome_index_path %></li>
        <li class="active"><%= link_to 'Playlist', sources_path %></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li class="disconnect">
            <%= link_to destroy_user_session_path, method: :delete do %>
            <i class="fa fa-power-off"></i>
          <% end %>
        </li>
      </ul>

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="player-table">
  <div class="container-fluid">
    <div class="row">

      <div class="player">
        <div class="col-sm-7">
          <div class="embed-responsive embed-responsive-16by9">
            <%= render "sources/providers/#{@source.provider.downcase}", source: @source %>
          </div>
        </div>
      </div>


      <div class="col-sm-5">
        <div class="row">
          <div class="music-list">

            <ul class="list-unstyled"><% @sources.reverse.each do |source| %>
              <li>
                <div class="col-sm-12">
                  <%= link_to source_path(source) do %>
                    <%= image_tag source.picture.url(:thumb) %>
                  <% end %>

                <h3><%= link_to truncate(source.title, length: 50, separator: ' '), source_path(source) %></h3>
                <h4>
                  <% time = source.duration.to_i %>
                  <%= time.divmod(60)[0] %>:<%= time.divmod(60)[1] %>
                </h4>

              </li>
                <% end %>
              </ul>

          </div>
        </div>
      </div>

    </div>
  </div>
</div>