<%= render partial: "sources/navbar" %>

<img src=<%= asset_path('vinyl-bg.png') %> class="bg-friends" alt="Background">


<div class="vertical-spacer"></div>

<div class="container">
  <ul class="list-unstyled list-inline"><% @friends.each do |fb_friend| %>
    <% friend = User.where(:uid => fb_friend.friend_uid).first %>
    <% if friend != nil && friend.sources.length > 1 %>

          <div class="col-xs-6 col-md-4 col-lg-3">
            <div class="friend-box">
              <li class="friend-infos"><%= link_to friend_friendmusics_path(fb_friend.id) do %>
                <%= image_tag friend.picture, class: 'welcome-photo' %>
              <% end %>
              <%= link_to friend.name, friend_friendmusics_path(fb_friend.id) %></li>

              <div class="row">
                <div class="col-xs-offset-1 col-xs-10">
                  <li class="text-center"><%= link_to friend_friendmusic_path(fb_friend.id, friend.sources.last.id) do %>
                    <%= image_tag friend.sources.last.picture.url(:medium), width: "100%", class: 'music-image' %>
                  <% end %></li>
                </div>
              </div>


              <li class="text-center"><h3 class="api-title">
                <%= link_to truncate(friend.sources.last.title, length: 30, separator: ' '), friend_friendmusic_path(fb_friend.id, friend.sources.last.id) %>
              </h3></li>

              <li class="text-center"><h4 class="api-time">
                <%= friend.sources.last.time %>
              </h4></li>

              <li class="text-center"><%= link_to 'Voir tous les morceaux', friend_friendmusics_path(fb_friend.id), :class => "btn btn-default" %></li>
            </div>
          </div>

    <% end %>
  <% end %>
  </ul>
</div>


