<%= render partial: "sources/navbar" %>

<div class="vertical-spacer"></div>

<div class="text-center">
  <ul class="list-unstyled"><% @friends.each do |fb_friend| %>
    <% friend = User.where(:uid => fb_friend.friend_uid).first %>
    <% if friend != nil %>

      <li><%= link_to friend_friendmusics_path(fb_friend.id) do %>
        <%= image_tag friend.picture, class: 'welcome-photo' %>
      <% end %>
      <%= link_to friend.name, friend_friendmusics_path(fb_friend.id) %></li>

      <% if friend.sources.length > 1 %>
        <%= render partial: "friends/musicbox", locals: {friend: friend} %>
      <% end %>

    <% end %>
  <% end %>
  </ul>
</div>


