<%= render partial: "navbar" %>


<div class="container-fluid">
  <div class="row">

    <div class="player" data-source-id="<%= @source.id %>">
      <div class="col-sm-7">
        <div class="embed-responsive embed-responsive-16by9">
          <%= render "sources/providers/#{@source.provider.downcase}", source: @source %>
        </div>

        <div class="text-center">
           <button class="btn btn-md btn-friend-song" onclick="myFunction()">Add this song to your playlist</button>

          <script>
          function myFunction() {
              var url=encodeURIComponent(window.location.href);window.open("http://localhost:3000/api?url=<%= @source.url %>", "Vibe In", "menubar=no, status=no, scrollbars=no, menubar=no, width=500, height=250");
          }
          </script>
        </div>

        <div class="text-center share-area">
          <h3 class="share-text-h3">
            Soutenez-nous en partageant vos coups de coeur, sur les réseaux sociaux.
          </h3>
          <div class="fb-like" data-href="http://vibein.herokuapp.com/sources/<%= @source.id %>/public" data-width="400" data-layout="button" data-action="like" data-show-faces="false" data-share="true">
          </div>
          <h4 class="share-text-h4">
            Pour profiter d'internet sans publicité, installer <a href="https://adblockplus.org/"><u>Adblock</u></a>.</br>
            Et pour sauvegarder vos morceaux préférés rapidement, installer notre extension sur <a href=""><u>Google Chrome</u></a> et <a href=""><u>Mozilla Firefox</u></a>.
          </h4>
        </div>
      </div>
    </div>


    <div class="col-sm-5">
      <div class="row">
        <div class="music-list">
          <div id="musics_aside">
            <%= render partial: "friendmusics/musics_aside", locals: {sources: @sources, friend: @friend_id} %>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
