<div class="col-xs-12 col-md-6">
  <div class="row">
    <div class="col-xs-4">
      <%= link_to music do %>
        <%= image_tag music.picture.url(:medium), width: "100%", class: 'music-image' %>
      <% end %>
    </div>
    <div class="col-xs-8">
      <h3 class="music-title">
        <%= link_to truncate(music.title, length: 50, separator: ' '), music %>
        <%= link_to music, method: :delete do %>
          <i class="fa fa-times"></i>
        <% end %>
      </h3>

      <ul class="list-unstyle list-inline">
        <li>
          <h4>
            <% time = music.duration.to_i %>
            <%= time.divmod(60).join(':') %>
          </h4>
        </li>

        <li>
          <div class="popover-markup">
            <button class="btn-add-playlist trigger" data-toggle="popover" data-placement='bottom'>
              P
            </button>
            <div class="head hide">Add to a playlist</div>
            <div class="content hide">
              <ul class="list-unstyled"><% current_user.categories.each do |category| %>
                <li><%= link_to category.title, categorizations_path(music_id: music.id, category_id: category.id), :method => :post %></li>
                <% end %>
              </ul>
            </div>
            <div class="footer hide">test</div>
          </div>
        </li>

        <li>
          <div id="categories_<%= music.id%>">
            <%= render partial: "categories", locals: {music: music} %>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>