<%= render partial: "sources/navbar" %>

<div class="vertical-spacer"></div>

<div class="container">
  <div class="music-table">
    <div class="row">
      <nav class="navbar navbar-categories" role="navigation">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <a class="navbar-brand" data-toggle="modal" data-target="#myModalPlaylist">Manage playlist</a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li><%= link_to 'View all', sources_path %></li>
              <% current_user.categories.each do |category| %>
                <li>
                  <%= link_to category.title, category_path(id: category.id) %>
                </li>
              <% end %>
            </ul>

            <ul class="nav navbar-nav navbar-right">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Trier par <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#">Date</a></li>
                  <li><a href="#">Popularité</a></li>
                </ul>
              </li>
            </ul>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>
    </div>


    <% if @sources.length == 0 %>
      <%= render partial: "sources/music_start" %>
    <% else %>
      <%= render partial: "sources/music_container" %>
    <% end %>

  </div>
</div>



<div class="modal fade" id="myModalPlaylist" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h3 class="modal-title text-center" id="myModalLabel">Gérer vos playlists</h3>
        </div>
        <div class="modal-body">

          <h3>Vos playlists actuelles</h3>

          <ul class="list-unstyled list-inline"><% current_user.categories.each do |category| %>
            <li>
              <%= link_to category.title, category_path(id: category.id), :class => "btn btn-sm btn-category color-#{category.thumbnail}" %>
              <%= link_to category_path(id: category.id), method: :delete, :class => "delete-category" do %>
                <i class="fa fa-times"></i>
              <% end %>
            </li>
          <% end %>
          </ul>

          <h3>Créer une nouvelle playlist</h3>

          <ul class="list-unstyled">
            <%= form_for @category do |f| %>

            <h4>Choisir un titre</h4>
            <li>
              <%= f.text_field :title %>
            </li></br>

            <h4>Choir une couleur</h4>

            <li>
              <%= f.radio_button :thumbnail, "1DD2AF" %>
              <%= label "", nil, class: "color-selector color-1DD2AF" %>
            </li>
            <li>
              <%= f.radio_button :thumbnail, "2BBE68" %>
              <%= label "", nil, class: "color-selector color-2BBE68" %>
            </li>
            <li>
              <%= f.radio_button :thumbnail, "2E8DCC" %>
              <%= label "", nil, class: "color-selector color-2E8DCC" %>
            </li>
            <li>
              <%= f.radio_button :thumbnail, "F1C40F" %>
              <%= label "", nil, class: "color-selector color-F1C40F" %>
            </li>
            <li>
              <%= f.radio_button :thumbnail, "EA6153" %>
              <%= label "", nil, class: "color-selector color-EA6153" %>
            </li>

          </ul>
        </div>
        <div class="modal-footer">
          <%= f.submit "Let's go !", :class => "btn btn-default" %>
          <% end %>
        </div>
      </div>
    </div>
</div>