<% content_for :head do %>
  <meta property="og:title" content="<%= @source.title %>" />
  <meta property="og:type" content="Music" />
  <meta property="og:url" content="http://vibein.herokuapp.com/sources/<%= @source.id %>/public" />
  <meta property="og:image" content="<%= image_tag source.image %>" />
  <meta property="og:description" content="<%= current_user.name %> aime ce morceau - Sauvegarder et partager vos musiques favorites via Vibe In " />
  <meta property="og:site_name" content="Vibe In" />
  <meta property="fb:admins" content="1466696496940225" />
<% end %>


<div class="container-fluid">
  <div class="row">

    <div class="player">
      <div class="col-sm-8 col-sm-2-offset">
        <div class="embed-responsive embed-responsive-16by9">
          <%= render "sources/providers/#{@source.provider.downcase}", source: @source %>
        </div>

        <div class="fb-share-button" data-href="http://vibein.herokuapp.com/sources/<%= @source.id %>/public"></div>
      </div>
    </div>

  </div>
</div>